.alert-container {
  position: relative;
  z-index: 2;
  top: 30px;
}

.center-div {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  .center-div {
    left: 35%;
    transform: translateX(-35%);
  }
}

@media only screen and (max-width: 500px) {
  .alert-container {
    top: 0;
  }

  .center-div {
    left: 0;
    transform: translateX(0);
    width: 100%;
  }
}