<div class="m-3 row g-0">
  <div class="col-9">
    <form [formGroup]="groupForm" class="container_form p-3 m-2 rounded">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-12">
          <h5 class="form-label fw-semibold">Customer Details</h5>
          <hr class="m-0" />
        </div>
        <div class="col mt-3">
          <label class="form-label"> First Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            placeholder="Enter  First Name"
            [ngClass]="{
              'is-invalid':
                (groupForm.get('firstName')?.dirty ||
                  groupForm.get('firstName')?.touched) &&
                groupForm.get('firstName')?.invalid
            }"
          />
          <small
            class="text-danger"
            *ngIf="
              (groupForm.get('firstName')?.dirty ||
                groupForm.get('firstName')?.touched) &&
              groupForm.get('firstName')?.invalid
            "
            >First Name is required</small
          >
        </div>

        <div class="col mt-3">
          <label class="form-label"> Last Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            placeholder="Enter  Last Name"
            [ngClass]="{
              'is-invalid':
                (groupForm.get('lastName')?.dirty ||
                  groupForm.get('lastName')?.touched) &&
                groupForm.get('lastName')?.invalid
            }"
          />
          <small
            class="text-danger"
            *ngIf="
              (groupForm.get('lastName')?.dirty ||
                groupForm.get('lastName')?.touched) &&
              groupForm.get('lastName')?.invalid
            "
            >Last Name is required</small
          >
        </div>

        <div class="col mt-3">
          <label class="form-label"> Phone</label>
          <input
            type="text"
            class="form-control"
            formControlName="phone"
            placeholder="Enter  Phone"
            [ngClass]="{
              'is-invalid':
                (groupForm.get('phone')?.dirty ||
                  groupForm.get('phone')?.touched) &&
                groupForm.get('phone')?.invalid
            }"
          />
          <small
            class="text-danger"
            *ngIf="
              (groupForm.get('phone')?.dirty ||
                groupForm.get('phone')?.touched) &&
              groupForm.get('phone')?.invalid
            "
            >Phone is required</small
          >
        </div>

        <div class="col mt-3">
          <label class="form-label"> Email</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="Enter  Email"
            [ngClass]="{
              'is-invalid':
                (groupForm.get('email')?.dirty ||
                  groupForm.get('email')?.touched) &&
                groupForm.get('email')?.invalid
            }"
          />
          <small
            class="text-danger"
            *ngIf="
              (groupForm.get('email')?.dirty ||
                groupForm.get('email')?.touched) &&
              groupForm.get('email')?.invalid
            "
            >Email is required</small
          >
        </div>

        <div class="col mt-3">
          <label class="form-label">Address Line 1</label>
          <input
            type="text"
            class="form-control"
            formControlName="addressLine1"
            placeholder="Enter Address Line 1"
            [ngClass]="{
              'is-invalid':
                (groupForm.get('addressLine1')?.dirty ||
                  groupForm.get('addressLine1')?.touched) &&
                groupForm.get('addressLine1')?.invalid
            }"
          />
          <small
            class="text-danger"
            *ngIf="
              (groupForm.get('addressLine1')?.dirty ||
                groupForm.get('addressLine1')?.touched) &&
              groupForm.get('addressLine1')?.invalid
            "
            >Address Line 1 is required</small
          >
        </div>

        <div class="col mt-3">
          <label class="form-label">Address Line 2</label>
          <input
            type="text"
            class="form-control"
            formControlName="addressLine2"
            placeholder="Enter Address Line 2"
          />
        </div>

        <div class="col mt-3">
          <label class="form-label">City</label>
          <input
            type="text"
            class="form-control"
            formControlName="city"
            placeholder="Enter City"
            [ngClass]="{
              'is-invalid':
                (groupForm.get('city')?.dirty ||
                  groupForm.get('city')?.touched) &&
                groupForm.get('city')?.invalid
            }"
          />
          <small
            class="text-danger"
            *ngIf="
              (groupForm.get('city')?.dirty ||
                groupForm.get('city')?.touched) &&
              groupForm.get('city')?.invalid
            "
            >City is required</small
          >
        </div>

        <div class="col mt-3">
          <label class="form-label">State</label>
          <input
            type="text"
            class="form-control"
            formControlName="state"
            placeholder="Enter State"
            [ngClass]="{
              'is-invalid':
                (groupForm.get('state')?.dirty ||
                  groupForm.get('state')?.touched) &&
                groupForm.get('state')?.invalid
            }"
          />
          <small
            class="text-danger"
            *ngIf="
              (groupForm.get('state')?.dirty ||
                groupForm.get('state')?.touched) &&
              groupForm.get('state')?.invalid
            "
            >State is required</small
          >
        </div>

        <div class="col mt-3">
          <label class="form-label">Country</label>
          <input
            type="text"
            class="form-control"
            formControlName="country"
            placeholder="Enter Country"
            [ngClass]="{
              'is-invalid':
                (groupForm.get('country')?.dirty ||
                  groupForm.get('country')?.touched) &&
                groupForm.get('country')?.invalid
            }"
          />
          <small
            class="text-danger"
            *ngIf="
              (groupForm.get('country')?.dirty ||
                groupForm.get('country')?.touched) &&
              groupForm.get('country')?.invalid
            "
            >Country is required</small
          >
        </div>

        <div class="col mt-3">
          <label class="form-label">Zip Code</label>
          <input
            type="text"
            class="form-control"
            formControlName="zipCode"
            placeholder="Enter Zip Code"
            [ngClass]="{
              'is-invalid':
                (groupForm.get('zipCode')?.dirty ||
                  groupForm.get('zipCode')?.touched) &&
                groupForm.get('zipCode')?.invalid
            }"
          />
          <small
            class="text-danger"
            *ngIf="
              (groupForm.get('zipCode')?.dirty ||
                groupForm.get('zipCode')?.touched) &&
              groupForm.get('zipCode')?.invalid
            "
            >Zip Code is required</small
          >
        </div>
      </div>
    </form>
  </div>
  <div class="col-3">
    <div class="card container_form p-3 m-2 rounded">
      <label class="form-label fw-semibold">Reservation Summary</label>
      <div class="card-body">
        <label class="form-label">
          CheckIn Date :
          <span class="fw-semibold">{{
            groupForm.get("arrival")?.value
          }}</span></label
        >
        <label class="form-label">
          CheckOut Date :
          <span class="fw-semibold">{{
            groupForm.get("departure")?.value
          }}</span></label
        >
        <label class="form-label">
          Adults:
          <span class="fw-semibold">{{ groupForm.get("adults")?.value }}</span>
          Childs:
          <span class="fw-semibold">{{
            groupForm.get("childs")?.value
          }}</span></label
        >
      </div>
      <form [formGroup]="reservationForm">
        <ul formArrayName="reservations" class="list-group list-group-flush">
          <li
            *ngFor="let reservation of reservations.controls; let i = index"
            [formGroupName]="i"
            class="list-group-item"
          >
            <div class="d-flex justify-content-between">
              <div>
                {{ reservation?.get("roomtype")?.value }}
              </div>
              <div>
                {{ reservation?.get("roomCost")?.value }}
              </div>
            </div>
          </li>
        </ul>
      </form>

      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="reservationForm" class="">
  <div formArrayName="reservations">
    <div
      *ngFor="let reservation of reservations.controls; let i = index"
      [formGroupName]="i"
      class="m-3 row g-0"
    >
      <div class="col-md-12">
        <div
          class="d-flex justify-content-between container_form p-3 m-2 rounded"
          (click)="
            reservation
              .get('isDetailsVisiable')
              ?.setValue(!reservation.get('isDetailsVisiable')?.value)
          "
          style="cursor: pointer"
        >
          <h5 class="form-label fw-semibold">
            Reservation Details of (
            {{ reservation?.get("roomtype")?.value }}-
            {{ reservation?.get("rateName")?.value }})
            {{
              "Adults/Childs" +
                ":" +
                reservation.get("adultOccupant")?.value +
                "/" +
                reservation.get("adultOccupant")?.value
            }}
            {{
              reservation.get("extraAdults")?.value > 0 ||
              reservation.get("extraChilds")?.value > 0
                ? "Extra Adults/Childs" +
                  ":" +
                  reservation.get("extraAdults")?.value +
                  "/" +
                  reservation.get("extraChilds")?.value
                : ""
            }}
          </h5>
          <div>
            <i
              class="material-symbols-rounded ms-2"
              style="vertical-align: middle; cursor: pointer"
              [style]="
                reservation.get('isDetailsVisiable')?.value
                  ? '    rotate: 270deg;'
                  : '    rotate: 90deg;'
              "
            >
              arrow_forward_ios
            </i>
          </div>
        </div>

        <hr class="m-0" />
      </div>
      <div class="col-9" *ngIf="reservation.get('isDetailsVisiable')?.value">
        <div
          class="row row-cols-1 row-cols-md-2 container_form p-3 m-2 rounded"
        >
          <div class="col-md-12" formArrayName="guests">
            <div
              class="row row-cols-1 row-cols-md-2"
              *ngFor="
                let guest of getGuests(reservation).controls;
                let k = index
              "
              [formGroupName]="k"
            >
              <div class="col-md-12 mt-2">
                <div class="d-flex justify-content-between">
                  <div>
                    <label class="form-label fw-semibold"
                      >Guest Information {{ k + 1 }}</label
                    >
                  </div>
                  <div>
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        formControlName="isSameAsCustomer"
                        (click)="sameAsCustomer(guest, $event)"
                      />
                      <label class="form-check-label">Same as Customer</label>
                    </div>
                  </div>
                </div>
                <hr class="m-0" />
                <button
                  class="btn btn-primary mt-2"
                  (click)="addGuest(i)"
                  *ngIf="k == 0"
                >
                  <i
                    class="material-symbols-rounded"
                    style="vertical-align: middle"
                  >
                    add
                  </i>
                  Add Guest
                </button>
                <button
                  class="btn btn-primary mt-2"
                  (click)="removeGuest(i, k)"
                  *ngIf="k > 0"
                >
                  <i
                    class="material-symbols-rounded"
                    style="vertical-align: middle"
                  >
                    remove
                  </i>
                  Remove Guest
                </button>
              </div>

              <div class="col mt-3">
                <label class="form-label"> First Name </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="firstName"
                  placeholder="Enter  First Name"
                  [ngClass]="{
                    'is-invalid':
                      (guest.get('firstName')?.dirty ||
                        guest.get('firstName')?.touched) &&
                      guest.get('firstName')?.invalid
                  }"
                />
                <small
                  class="text-danger"
                  *ngIf="
                    (guest.get('firstName')?.dirty ||
                      guest.get('firstName')?.touched) &&
                    guest.get('firstName')?.invalid
                  "
                  >First Name is required</small
                >
              </div>

              <div class="col mt-3">
                <label class="form-label"> Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="lastName"
                  placeholder="Enter  Last Name"
                  [ngClass]="{
                    'is-invalid':
                      (guest.get('lastName')?.dirty ||
                        guest.get('lastName')?.touched) &&
                      guest.get('lastName')?.invalid
                  }"
                />
                <small
                  class="text-danger"
                  *ngIf="
                    (guest.get('lastName')?.dirty ||
                      guest.get('lastName')?.touched) &&
                    guest.get('lastName')?.invalid
                  "
                  >Last Name is required</small
                >
              </div>

              <div class="col mt-3">
                <label class="form-label"> Phone</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="phone"
                  placeholder="Enter  Phone"
                  [ngClass]="{
                    'is-invalid':
                      (guest.get('phone')?.dirty ||
                        guest.get('phone')?.touched) &&
                      guest.get('phone')?.invalid
                  }"
                />
                <small
                  class="text-danger"
                  *ngIf="
                    (guest.get('phone')?.dirty ||
                      guest.get('phone')?.touched) &&
                    guest.get('phone')?.invalid
                  "
                  >Phone is required</small
                >
              </div>

              <div class="col mt-3">
                <label class="form-label"> Email</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  placeholder="Enter  Email"
                  [ngClass]="{
                    'is-invalid':
                      (guest.get('email')?.dirty ||
                        guest.get('email')?.touched) &&
                      guest.get('email')?.invalid
                  }"
                />
                <small
                  class="text-danger"
                  *ngIf="
                    (guest.get('email')?.dirty ||
                      guest.get('email')?.touched) &&
                    guest.get('email')?.invalid
                  "
                  >Email is required</small
                >
              </div>

              <div class="col mt-3">
                <label class="form-label">Address Line 1</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="addressLine1"
                  placeholder="Enter Address Line 1"
                  [ngClass]="{
                    'is-invalid':
                      (guest.get('addressLine1')?.dirty ||
                        guest.get('addressLine1')?.touched) &&
                      guest.get('addressLine1')?.invalid
                  }"
                />
                <small
                  class="text-danger"
                  *ngIf="
                    (guest.get('addressLine1')?.dirty ||
                      guest.get('addressLine1')?.touched) &&
                    guest.get('addressLine1')?.invalid
                  "
                  >Address Line 1 is required</small
                >
              </div>

              <div class="col mt-3">
                <label class="form-label">Address Line 2</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="addressLine2"
                  placeholder="Enter Address Line 2"
                />
              </div>

              <div class="col mt-3">
                <label class="form-label">City</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="city"
                  placeholder="Enter City"
                  [ngClass]="{
                    'is-invalid':
                      (guest.get('city')?.dirty ||
                        guest.get('city')?.touched) &&
                      guest.get('city')?.invalid
                  }"
                />
                <small
                  class="text-danger"
                  *ngIf="
                    (guest.get('city')?.dirty || guest.get('city')?.touched) &&
                    guest.get('city')?.invalid
                  "
                  >City is required</small
                >
              </div>

              <div class="col mt-3">
                <label class="form-label">State</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="state"
                  placeholder="Enter State"
                  [ngClass]="{
                    'is-invalid':
                      (guest.get('state')?.dirty ||
                        guest.get('state')?.touched) &&
                      guest.get('state')?.invalid
                  }"
                />
                <small
                  class="text-danger"
                  *ngIf="
                    (guest.get('state')?.dirty ||
                      guest.get('state')?.touched) &&
                    guest.get('state')?.invalid
                  "
                  >State is required</small
                >
              </div>

              <div class="col mt-3">
                <label class="form-label">Country</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="country"
                  placeholder="Enter Country"
                  [ngClass]="{
                    'is-invalid':
                      (guest.get('country')?.dirty ||
                        guest.get('country')?.touched) &&
                      guest.get('country')?.invalid
                  }"
                />
                <small
                  class="text-danger"
                  *ngIf="
                    (guest.get('country')?.dirty ||
                      guest.get('country')?.touched) &&
                    guest.get('country')?.invalid
                  "
                  >Country is required</small
                >
              </div>

              <div class="col mt-3">
                <label class="form-label">Zip Code</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="zipCode"
                  placeholder="Enter Zip Code"
                  [ngClass]="{
                    'is-invalid':
                      (guest.get('zipCode')?.dirty ||
                        guest.get('zipCode')?.touched) &&
                      guest.get('zipCode')?.invalid
                  }"
                />
                <small
                  class="text-danger"
                  *ngIf="
                    (guest.get('zipCode')?.dirty ||
                      guest.get('zipCode')?.touched) &&
                    guest.get('zipCode')?.invalid
                  "
                  >Zip Code is required</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3" *ngIf="reservation.get('isDetailsVisiable')?.value">
        <div class="card container_form p-3 m-2 rounded">
          <label class="form-label fw-semibold">Room Details</label>
          <div class="card-body">
            <label class="form-label">Room:</label>
            <select
              formControlName="roomId"
              class="form-control"
              style="appearance: auto"
            >
              <option
                *ngFor="
                  let room of filterRooms(
                    roomTypeRooms[reservation.get('roomTypeId')?.value],
                    i
                  )
                "
                [value]="room.id"
              >
                {{ room.roomName }}
              </option>
              <option value="assign">assign</option>
            </select>

            <label class="form-label">
              Room Price :
              <span class="fw-semibold"
                >{{ reservation?.get("roomPrice")?.value }}
              </span>
            </label>
            <label class="form-label">
              Room Cost :
              <a
                class="link"
                (click)="openUpdateRate(RateUpdate, reservation?.value, i)"
              >
                {{ reservation?.get("roomCost")?.value }}
              </a></label
            >
          </div>

          <div class="card-body">
            <a href="#" class="card-link">Add Document</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="d-flex justify-content-center">
  <button class="btn btn-primary mt-2" (click)="onSubmit()">submit</button>
</div>

<ng-template #RateUpdate let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Rate Update</h4>
    <button
      #closeButton
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.close(false)"
    ></button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">DATE</th>
          <th scope="col">Reason</th>
          <th>ESTIMATED COST</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rate of updateDateRateObj.dateRate; let i = index">
          <th scope="row">{{ rate.date | date }}</th>
          <td>
            <div class="select select_reason">
              <select
                class="form-control text_center select_reason"
                style="text-align: center"
                [(ngModel)]="rate.Reason"
              >
                <option value="" selected>Select One</option>
                <option value="Complaint">Complaint</option>
                <option value="Rate Resistance">Rate Resistance</option>
                <option value="Rate Parity">Rate Parity</option>
                <option value="Match rate">Match rate</option>
              </select>
            </div>
          </td>

          <td>
            <div class="d-flex justify-content-center">
              <input
                type="number"
                [(ngModel)]="rate.baseRate"
                class="form-control"
              />
            </div>
          </td>
        </tr>
        <tr *ngIf="updateDateRateObj.extraAdults > 0">
          <td>Extra Adults</td>

          <td class="text-center">
            {{
              updateDateRateObj.extraAdults +
                "*" +
                updateDateRateObj.dateRate[0].adultRate +
                "*" +
                updateDateRateObj.dateRate.length +
                " Night"
            }}
          </td>
          <td class="text-center">
            {{
              updateDateRateObj.extraAdults *
                updateDateRateObj.dateRate[0].adultRate *
                updateDateRateObj.dateRate.length
            }}
          </td>
        </tr>
        <tr *ngIf="updateDateRateObj.extraChilds">
          <td>Extra Childs</td>
          <td class="text-center">
            {{
              updateDateRateObj.extraChilds +
                "*" +
                updateDateRateObj.dateRate[0].childRate +
                "*" +
                updateDateRateObj.dateRate.length +
                " Night"
            }}
          </td>
          <td class="text-center">
            {{
              updateDateRateObj.extraChilds *
                updateDateRateObj.dateRate[0].childRate *
                updateDateRateObj.dateRate.length
            }}
          </td>
        </tr>
        <tr>
          <td colspan="2">Tax Summary</td>

          <td class="text-center">
            {{ "0.00" }}
          </td>
        </tr>
        <tr>
          <td>Total Summary</td>
          <td class="text-center">
            Room Price {{ updateDateRateObj.roomPrice }}
          </td>
          <!-- <td class="text-center">{{ TotalCostRoomCharges }}</td> -->
          <td class="text-center">
            <div class="d-flex justify-content-center">
              <input
                type="number"
                [(ngModel)]="updateDateRateObj.roomCost"
                class="form-control custom_input text_center rate_input"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end pb-3">
      <button class="btn btn-primary" (click)="calculateRate()">
        Calculate
      </button>
      <button class="btn btn-primary" (click)="modal.close(true)">
        SAVE & CLOSE
      </button>
      <button class="btn light_button button ml-2" (click)="modal.close(false)">
        cancel
      </button>
    </div>
  </div>
</ng-template>
