<div class="m-3 row g-0">
  <div class="container_form p-3 m-2 rounded">
    <div class="d-flex justify-content-between">
      <div class="">
        <p class="form-label fs-5 fw-semibold">
          Reservation Folio (#{{ groupDetails?.groupNumber }})
          {{ groupDetails?.arrival | date : "MMM d, y" }}
          <i class="material-symbols-rounded" style="vertical-align: middle">
            line_end_arrow_notch</i
          >{{ groupDetails?.departure | date : "MMM d, y" }} Rooms:{{
            groupDetails?.reservations?.length
          }}
        </p>
      </div>

      <div class="">
        <i class="material-symbols-rounded mt-2" style="vertical-align: middle">
          print</i
        >
      </div>
    </div>
  </div>
  <div class="col-md-9 col-12">
    <div class="container_form p-3 m-2 rounded">
      <div class="row">
        <div class="col-8">
          <div class="d-flex flex-column">
            <label class="form-label fw-semibold mb-2"
              >Customer Details:
              <i
                class="material-symbols-rounded"
                style="vertical-align: middle; font-size: 20px"
              >
                edit</i
              >
              <i
                class="material-symbols-rounded"
                style="vertical-align: middle; font-size: 20px"
                (click)="
                  openReservationDoc(
                    docModal,
                    groupDetails?.customerDetails?.documents
                  )
                "
              >
                file_present</i
              ></label
            >
            <label class="form-label">
              Name :
              <span class="fw-semibold"
                >{{ groupDetails?.customerDetails?.firstName }}
                {{ groupDetails?.customerDetails?.lastName }}</span
              >
            </label>
            <label class="form-label">
              Phone :
              <span class="fw-semibold"
                >{{ groupDetails?.customerDetails?.phone }}
              </span></label
            >
            <label class="form-label">
              Email :
              <span class="fw-semibold"
                >{{ groupDetails?.customerDetails?.email }}
              </span></label
            >
            <label class="form-label">
              Address :
              <span class="fw-semibold"
                >{{
                  groupDetails?.customerDetails?.customerAddress?.addressLine1
                }},{{ groupDetails?.customerDetails?.customerAddress?.city }},{{
                  groupDetails?.customerDetails?.customerAddress?.state
                }},
                {{ groupDetails?.customerDetails?.customerAddress?.country }},
                {{ groupDetails?.customerDetails?.customerAddress?.zipCode }}
              </span></label
            >
          </div>
        </div>
        <div class="col-4 text-end">
          <div class="d-flex flex-column">
            <label
              class="form-label fw-semibold mt-2"
              (click)="openPaymentModal(paymentModal)"
            >
              Make Payment
            </label>
            <label class="form-label fw-semibold mt-2"> View Logs </label>
            <label class="form-label fw-semibold mt-2">
              Cancel Reservations</label
            >
            <label
              class="form-label fw-semibold mt-2"
              (click)="openAddRoomModal(addRoomModal)"
            >
              Add Room
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-12">
    <div class="card container_form p-3 m-2 rounded">
      <label class="form-label fw-semibold">Reservation Summary</label>
      <div class="card-body pt-2">
        <label class="form-label">
          Adults/Children:
          <span class="fw-semibold"
            >{{ groupDetails?.adults }} /{{ groupDetails?.childs }}</span
          ></label
        >
        <br />
        <label class="form-label">
          Total Cost:
          <span class="fw-semibold"
            >{{ groupDetails?.totalCost | currency }}
          </span></label
        >
        <br />
        <label class="form-label">
          Total Price:
          <span class="fw-semibold"
            >{{ groupDetails?.totalPrice | currency }}
          </span></label
        >
        <br />
        <label class="form-label">
          Total Tax:
          <span class="fw-semibold"
            >{{ groupDetails?.totalTax | currency }}
          </span></label
        >
      </div>
    </div>
  </div>

  @for (reservation of groupDetails?.reservations; track reservation; let i =
  $index) {
  <div class="col-md-12">
    <div class="container_form p-3 m-2 rounded">
      <div class="d-flex justify-content-between">
        <div class="">
          <p class="form-label fs-5 fw-semibold">
            #{{ reservation.confirmationNumber }} ({{
              reservation?.roomTypeDetails?.roomTypeName
            }}
            -{{
              reservation?.roomDetails?.roomName
                ? reservation?.roomDetails?.roomName
                : "unassign"
            }})
            {{ reservation?.arrival | date }}
            <i class="material-symbols-rounded" style="vertical-align: middle">
              line_end_arrow_notch</i
            >{{ reservation?.departure | date }}
          </p>
        </div>

        <div class="">
          <i
            class="material-symbols-rounded mt-2"
            style="vertical-align: middle"
          >
            print</i
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-12">
    <div class="container_form p-3 m-2 rounded">
      <!-- <label class="form-label fw-semibold">Guest Details</label> -->
      <div class="row">
        <div class="col-md-4 col-12">
          <div style="height: 200px; text-align: center; margin: 0; padding: 0">
            <ng-image-slider
              #nav
              [images]="imageObject"
              [infinite]="false"
              [autoSlide]="1"
              [imageSize]="{ width: 300, height: 200 }"
              slideImage="1"
            ></ng-image-slider>
          </div>
        </div>
        <div class="col-md-5 col-8">
          <label class="form-label">
            Name :
            <span class="fw-semibold"
              >{{ reservation?.guestDetails?.firstName }}
              {{ reservation?.guestDetails?.lastName }}</span
            >
            <i
              class="material-symbols-rounded ms-1"
              style="vertical-align: middle; font-size: 20px"
            >
              edit</i
            >
            <i
              class="material-symbols-rounded"
              style="vertical-align: middle; font-size: 20px"
              (click)="
                openReservationDoc(
                  docModal,
                  reservation?.guestDetails?.documents
                )
              "
            >
              file_present</i
            >
            <i
              class="material-symbols-rounded"
              style="vertical-align: middle; font-size: 20px"
            >
              group</i
            >
          </label>
          <br />
          <label class="form-label">
            Phone :
            <span class="fw-semibold"
              >{{ reservation?.guestDetails?.phone }}
            </span></label
          >
          <br />
          <label class="form-label">
            Email :
            <span class="fw-semibold"
              >{{ reservation?.guestDetails?.email }}
            </span></label
          >
          <label class="form-label">
            Address :
            <span class="fw-semibold"
              >{{ reservation?.guestDetails?.guestAddress?.addressLine1 }},{{
                reservation?.guestDetails?.guestAddress?.city
              }},{{ reservation?.guestDetails?.guestAddress?.state }},
              {{ reservation?.guestDetails?.guestAddress?.country }},
              {{ reservation?.guestDetails?.guestAddress?.zipCode }}
            </span></label
          >
          <!-- <table class="table">
            <thead>
              <tr>
                <th scope="col">Balance</th>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of reservation?.roomBalances">
                <td>{{ r.balance }}</td>
                <td>{{ r.balanceDate | date }}</td>
                <td>{{ r.balanceName }}</td>
              </tr>
            </tbody>
          </table> -->
        </div>
        <div class="col-md-3 col-4 text-end">
          <div class="d-flex flex-column">
            <label class="form-label fw-semibold"> Add Guest </label>
            <label class="form-label fw-semibold mt-2"> Cancel Room </label>
            <label
              class="form-label fw-semibold mt-2"
              (click)="openUpdateStayModal(reservation, stayUpdateModal)"
            >
              Update Stay
            </label>
            <label
              class="form-label fw-semibold mt-2"
              (click)="openChangeRoomModal(reservation, changeRoomModal)"
            >
              Change Room
            </label>
            <label
              class="form-label fw-semibold mt-2"
              (click)="showRoomCharges(reservation)"
            >
              Show Charges
            </label>
            <label
              class="form-label fw-semibold mt-2"
              (click)="openAddChargeModal(postChargeModal, reservation)"
            >
              Add Charges
            </label>
            <label class="form-label fw-semibold mt-2">Make Payment </label>
          </div>
        </div>
        <div class="col-12" *ngIf="reservation.showCharges">
          <table class="table pb-0 pay-table mt-3 mb-2">
            <thead>
              <tr>
                <th scope="col">Charges</th>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of reservation?.roomBalances">
                <td>{{ r.balance }}</td>
                <td>{{ r.balanceDate | date }}</td>
                <td>{{ r.balanceName }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-12">
    <div class="card container_form p-3 m-2 rounded">
      <label class="form-label fw-semibold">Reservation Summary</label>
      <div class="card-body pt-2">
        <label class="form-label">
          Adults/Children:
          <span class="fw-semibold"
            >{{ reservation?.reservationDetails?.adults }} /{{
              reservation?.reservationDetails?.childs
            }}</span
          ></label
        >
        <br />
        <label class="form-label">
          Room Cost:
          <span class="fw-semibold"
            >{{ reservation?.reservationDetails?.roomCost | currency }}
          </span></label
        >
        <br />
        <label class="form-label">
          Payment:
          <span class="fw-semibold"
            >{{ reservation?.reservationDetails?.payment | currency }}
          </span></label
        >
        <br />
        <label class="form-label">
          Deposit:
          <span class="fw-semibold"
            >{{ reservation?.reservationDetails?.deposit | currency }}
          </span></label
        >
        <br />
        <label class="form-label">
          RatePlan :
          <span class="fw-semibold"
            >{{ reservation?.rateDetails?.ratePlanName }}
          </span></label
        >
        <br />
        <label class="form-label">
          Status :
          <span class="fw-semibold"
            >{{ reservation?.reservationStatus }}
          </span></label
        >
      </div>
    </div>
  </div>
  }
  <div class="col-md-9 col-12">
    <div class="container_form p-3 m-2 rounded">
      <label class="form-label fw-semibold">Payment Details</label>
      <table class="table pb-0 pay-table mt-2">
        <thead>
          <tr>
            <th scope="col">Payment</th>
            <th scope="col">Date</th>
            <th scope="col">Receipt</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of groupDetails?.paymentDetails">
            <td>{{ r.transactionDetails?.transactionRate }}</td>
            <td>{{ r.transactionDate | date }}</td>
            <td>{{ r.transactionDetails?.receipt }}</td>

            <td>
              {{ r.transactionDetails?.isRefund ? "Refund" : ""
              }}{{ r.isDeposit ? "Deposit" : ""
              }}{{ r.isAuthorize ? "Authorized" : "" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-3 col-12">
    <div class="card container_form p-3 m-2 rounded">
      <label class="form-label fw-semibold">Payment Summary</label>
      <div class="card-body pt-2">
        <label class="form-label">
          Total Payment:
          <span class="fw-semibold"
            >{{ groupDetails?.totalPayment | currency }}
          </span></label
        >
        <br />
        <label class="form-label">
          Total Deposit:
          <span class="fw-semibold"
            >{{ groupDetails?.totalDeposit | currency }}
          </span></label
        >
        <br />
        <label class="form-label">
          Total Balance:
          <span class="fw-semibold"
            >{{ groupDetails?.totalBalance | currency }}
          </span></label
        >
      </div>
    </div>
  </div>
</div>
<ng-template #stayUpdateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Stay Update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss(false)"
    ></button>
  </div>
  <div class="modal-body">
    <label class="form-label">Arrival Date</label>
    <input
      type="date"
      class="form-control"
      name="updateStayArrival"
      [(ngModel)]="updateStayArrival"
      placeholder="Enter arrival"
    />
    <label class="form-label">Departure Date</label>
    <input
      type="date"
      class="form-control"
      name="updateStayDeparture"
      [(ngModel)]="updateStayDeparture"
      placeholder="Enter departure"
    />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close(true)"
    >
      Save
    </button>
  </div>
</ng-template>
<ng-template #addRoomModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Select Room</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss(false)"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid text-center" *ngIf="roomsData.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th>Room Type Name</th>
            <th>Sleeps</th>
            <th>Rate</th>
            <th>Cost</th>
            <th>No. of Rooms</th>
            <th>Room</th>
            <th>Selected</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of roomsData; let i = index">
            <td>{{ room.roomtype }} {{ room.rateName }}</td>
            <td>
              {{ room.adultOccupant }} Adults {{ room.childOccupant }} Childs
            </td>
            <td>{{ room.roomPrice }}</td>
            <td>{{ room.roomCost }}</td>
            <td>
              <button
                class="btn btn-primary p-0 me-1"
                (click)="addRoomCount(i)"
                [disabled]="
                  room?.dropdownSettings?.limitSelection > 0 ||
                  room?.dropdownSettings?.limitSelection >= room.totalRoom ||
                  currentRoomCount > 0
                "
              >
                <i
                  class="material-symbols-rounded"
                  style="vertical-align: middle"
                  >add</i
                >
              </button>
              <span class="mx-1">{{
                room?.dropdownSettings?.limitSelection
              }}</span>
              <button
                class="btn btn-primary p-0 ms-1"
                (click)="removeRoomCount(i)"
                [disabled]="room?.dropdownSettings?.limitSelection === 0"
              >
                <i
                  class="material-symbols-rounded"
                  style="vertical-align: middle"
                  >remove</i
                >
              </button>
            </td>
            <td>
              <ng-multiselect-dropdown
                name="roomtype"
                [placeholder]="'Select Room'"
                [settings]="room.dropdownSettings"
                [data]="dropDownData(room.rooms, i)"
                [(ngModel)]="selectedItems[i]"
                class="multiselect_dropdown"
              ></ng-multiselect-dropdown>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-outline-primary"
                [disabled]="room?.dropdownSettings?.limitSelection === 0"
                (click)="modal.close(true)"
              >
                Countinue
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #changeRoomModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Change Room</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss(false)"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid text-center" *ngIf="roomsData.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th>Room Name</th>
            <th>Room Status</th>
            <th>Rate</th>
            <th>Cost</th>
            <th>Selected</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let roomtype of roomsData; let i = index">
            <tr *ngFor="let room of roomtype.rooms; let j = index">
              <td>{{ roomtype.roomtype }} {{ room.roomName }}</td>
              <td>{{ room.roomStatus }}</td>
              <td>{{ roomtype.roomPrice }}</td>
              <td>{{ roomtype.roomCost }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  (click)="callChangeRoom(roomtype, room)"
                >
                  Countinue
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
<ng-template #docModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">View Documents</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss(false)"
    ></button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center">
      <div
        style="
          height: 200px;
          width: 300px;
          text-align: center;
          margin: 0;
          padding: 0;
        "
      >
        <ng-image-slider
          #nav
          [images]="documentsImages"
          [infinite]="false"
          [autoSlide]="1"
          [imageSize]="{ width: 300, height: 200 }"
          slideImage="1"
        ></ng-image-slider>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close(true)"
    >
      Save
    </button>
  </div>
</ng-template>
<ng-template #paymentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Make Payment</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss(false)"
    ></button>
  </div>
  <div class="modal-body" [formGroup]="paymentForm">
    <div class="row">
      <div class="col-md-3 mt-3">
        <label class="form-label">Payment Type </label>
        <select
          class="form-control text-center select_reason"
          formControlName="paymentType"
        >
          <option value="cash">cash</option>
          <option value="card">card</option>
          <option value="cheque">cheque</option>
        </select>
      </div>
      <div class="col-md-2 mt-3">
        <label class="form-label">Amount </label>
        <input
          type="number"
          class="form-control"
          formControlName="amount"
          placeholder="Enter amount"
          [ngClass]="{
            'is-invalid':
              paymentForm.get('amount')?.invalid &&
              (paymentForm.get('amount')?.dirty ||
                paymentForm.get('amount')?.touched)
          }"
        />
        <small
          class="text-danger"
          *ngIf="
            paymentForm.get('amount')?.invalid &&
            (paymentForm.get('amount')?.dirty ||
              paymentForm.get('amount')?.touched)
          "
        >
          amount is required
        </small>
      </div>
      <div class="col-md-2 mt-3">
        <div class="mt-4">
          <label class="form-label me-2">Deposit </label>
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="deposit"
          />
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <label class="form-label">Remark </label>
        <input
          type="text"
          class="form-control"
          formControlName="remark"
          placeholder="Enter remark"
          [ngClass]="{
            'is-invalid':
              paymentForm.get('remark')?.invalid &&
              (paymentForm.get('remark')?.dirty ||
                paymentForm.get('remark')?.touched)
          }"
        />
        <small
          class="text-danger"
          *ngIf="
            paymentForm.get('remark')?.invalid &&
            (paymentForm.get('remark')?.dirty ||
              paymentForm.get('remark')?.touched)
          "
        >
          remark is required
        </small>
      </div>
      <div class="col-md-2 mt-3">
        <div class="d-flex justify-content-center">
          <button
            class="btn btn-primary mt-4"
            type="button"
            [disabled]="paymentForm.invalid"
            (click)="modal.close(true)"
          >
            Pay
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #postChargeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Post Charge</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss(false)"
    ></button>
  </div>
  <div class="modal-body" [formGroup]="postChargeForm">
    <div class="row">
      <div class="col-md-3 mt-3">
        <label class="form-label">Charge </label>
        <input
          type="number"
          class="form-control"
          formControlName="charge"
          placeholder="Enter charge"
          [ngClass]="{
            'is-invalid':
              postChargeForm.get('charge')?.invalid &&
              (postChargeForm.get('charge')?.dirty ||
                postChargeForm.get('charge')?.touched)
          }"
        />
        <small
          class="text-danger"
          *ngIf="
            postChargeForm.get('charge')?.invalid &&
            (postChargeForm.get('charge')?.dirty ||
              postChargeForm.get('charge')?.touched)
          "
        >
          charge is required
        </small>
      </div>

      <div class="col-md-3 mt-3">
        <label class="form-label">reason </label>
        <select
          class="form-control text-center select_reason"
          formControlName="reason"
        >
          <option value="damage">damage</option>
          <option value="cancellation">cancellation</option>
          <option value="extracharge">extracharge</option>
          <option value="penalty">penalty</option>
        </select>
      </div>

      <div class="col-md-2 mt-3">
        <div class="d-flex justify-content-center">
          <button
            class="btn btn-primary mt-4"
            type="button"
            [disabled]="postChargeForm.invalid"
            (click)="modal.close(true)"
          >
            Pay
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
