<div class="container">
  <img
    src="https://png.pngtree.com/thumb_back/fh260/background/20210929/pngtree-silver-gray-abstract-background-image_908409.png"
    class="cc"
    alt=""
  />
  <div class="row justify-content-center mt-4">
    <div
      class="col-lg-4 col-md-6 col-sm-12 p-3"
      style="
        background-color: #f3f3f3;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
      "
    >
      <div class="fs-2 fw-bold">Sign in</div>

      <form [formGroup]="LoginForm" (ngSubmit)="logIn()" class="mt-3">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email </label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="you@example.com"
          />
          <div
            *ngIf="
              LoginForm.controls['email'].invalid &&
              (LoginForm.controls['email'].dirty ||
                LoginForm.controls['email'].touched)
            "
          >
            <div
              class="text-danger"
              *ngIf="LoginForm.controls['email'].errors?.['required']"
            >
              Required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="d-flex justify-content-between">
            <div>
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
            </div>
            <div><a routerLink="/forgotpassword">Forgot Password</a></div>
          </div>
          <div class="input-container">
            <input #passwordInput type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
              placeholder="Enter Password" />
            <div class="eye-icon" (click)="passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password'">
              <div *ngIf="passwordInput.type === 'text'" class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#355685" class="bi bi-eye-fill"
                  viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                </svg>
              </div>
          
              <div *ngIf="passwordInput.type === 'password'" class="sicon">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#355685" class="bi bi-eye-slash"
                  viewBox="0 0 16 16">
                  <path
                    d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                  <path
                    d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                  <path
                    d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                </svg>
              </div>
            </div>
          </div>

          <div
            *ngIf="
              LoginForm.controls['password'].invalid &&
              (LoginForm.controls['password'].dirty ||
                LoginForm.controls['password'].touched)
            "
          >
            <div
              class="text-danger"
              *ngIf="LoginForm.controls['password'].errors?.['required']"
            >
              Password is required.
            </div>
          </div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Remember me
          </label>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="LoginForm.invalid"
        >
          Login
        </button>
      </form>
      <div class="line-with-text mt-2">
        <span class="line-text">OR</span>
      </div>
      <br />
      <div class="">
        Doesn't have an account yet?
        <a routerLink="/registeruser">Sign Up</a>
      </div>
      <!-- <div class="d-flex justify-content-center">
        <div
          id="g_id_onload"
          data-client_id="1077907309094-cp4uihhtslrimu7og7c0uqg2nb0hea47.apps.googleusercontent.com"
          data-context="use"
          data-ux_mode="popup"
          data-itp_support="true"
          data-callback="handleCredentialResponse"
        ></div>

        <div
          class="g_id_signin"
          data-type="standard"
          data-shape="pill"
          data-theme="filled_blue"
          data-text="signin_with"
          data-size="large"
          data-logo_alignment="left"
        ></div>
      </div> -->
    </div>
  </div>
</div>
