<div class="container container_form my-3 rounded">
  <form [formGroup]="groupForm">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mt-3">
        <label class="form-label">Arrival Date </label>
        <input
          type="date"
          class="form-control"
          formControlName="arrival"
          placeholder="Enter arrival"
          [ngClass]="{
            'is-invalid':
              (groupForm.get('arrival')?.dirty ||
                groupForm.get('arrival')?.touched) &&
              groupForm.get('arrival')?.invalid
          }"
        />
        <small
          class="text-danger"
          *ngIf="
            (groupForm.get('arrival')?.dirty ||
              groupForm.get('arrival')?.touched) &&
            groupForm.get('arrival')?.invalid
          "
          >arrival is required</small
        >
      </div>
      <div class="col mt-3">
        <label class="form-label">Departure Date </label>
        <input
          type="date"
          class="form-control"
          formControlName="departure"
          placeholder="Enter departure"
          [ngClass]="{
            'is-invalid':
              (groupForm.get('departure')?.dirty ||
                groupForm.get('departure')?.touched) &&
              groupForm.get('departure')?.invalid
          }"
        />
        <small
          class="text-danger"
          *ngIf="
            (groupForm.get('departure')?.dirty ||
              groupForm.get('departure')?.touched) &&
            groupForm.get('departure')?.invalid
          "
          >departure is required</small
        >
      </div>
      <div class="col mt-3">
        <label class="form-label">Adults </label>
        <input
          type="number"
          class="form-control"
          formControlName="adults"
          placeholder="Enter adults"
          [ngClass]="{
            'is-invalid':
              (groupForm.get('adults')?.dirty ||
                groupForm.get('adults')?.touched) &&
              groupForm.get('adults')?.invalid
          }"
        />
        <small
          class="text-danger"
          *ngIf="
            (groupForm.get('adults')?.dirty ||
              groupForm.get('adults')?.touched) &&
            groupForm.get('adults')?.invalid
          "
          >adults is required</small
        >
      </div>
      <div class="col mt-3">
        <label class="form-label">Childs </label>
        <input
          type="number"
          class="form-control"
          formControlName="childs"
          placeholder="Enter childs"
          [ngClass]="{
            'is-invalid':
              (groupForm.get('childs')?.dirty ||
                groupForm.get('childs')?.touched) &&
              groupForm.get('childs')?.invalid
          }"
        />
        <small
          class="text-danger"
          *ngIf="
            (groupForm.get('childs')?.dirty ||
              groupForm.get('childs')?.touched) &&
            groupForm.get('childs')?.invalid
          "
          >childs is required</small
        >
      </div>
      <div class="col my-3">
        <button
          class="btn btn-primary"
          (click)="readRooms()"
          [disabled]="groupForm.invalid"
        >
          Show Availability
        </button>
      </div>
    </div>
  </form>
</div>

<div class="container-fluid text-center" *ngIf="roomsData.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th class="col">Room Type Name</th>
        <th class="col">Sleeps</th>
        <th class="col">Rate</th>
        <th class="col">Cost</th>
        <th class="col">No.of Rooms</th>
        <th class="col">Room</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of roomsData; let i = index; trackBy: trackByFn">
        <td>{{ room.roomtype }} {{ room.rateName }}</td>
        <td>
          {{ room.adultOccupant }} Adults {{ room.childOccupant }} Childs
          <span
            class="link text-primary"
            (click)="openExtraModal(extraGuests, room)"
            >{{
              room.extraAdults == 0 && room.extraChilds == 0
                ? "add"
                : "(" + room.extraAdults + "/" + room.extraChilds + ")"
            }}</span
          >
        </td>
        <td>{{ room.roomPrice }}</td>
        <td>{{ room.roomCost }}</td>
        <td>
          <button
            class="btn btn-primary p-0"
            (click)="addRoomCount(i)"
            [disabled]="
              room?.dropdownSettings?.limitSelection >= room.totalRoom
            "
          >
            <i class="material-symbols-rounded" style="vertical-align: middle"
              >add</i
            >
          </button>
          <span class="mx-1">{{ room?.dropdownSettings?.limitSelection }}</span>
          <button
            class="btn btn-primary p-0"
            (click)="removeRoomCount(i)"
            [disabled]="room?.dropdownSettings?.limitSelection === 0"
          >
            <i class="material-symbols-rounded" style="vertical-align: middle"
              >remove</i
            >
          </button>
        </td>
        <td>
          <ng-multiselect-dropdown
            name="roomtype"
            [placeholder]="'Select Room'"
            [settings]="room.dropdownSettings"
            [data]="dropDownData(room.rooms, i)"
            [(ngModel)]="selectedItems[i]"
            style="background: white !important"
            class="multiselect_dropdown"
          ></ng-multiselect-dropdown>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container text-center" *ngIf="roomsData.length > 0">
  <button
    class="btn btn-primary my-3"
    (click)="onSubmit()"
    [disabled]="
      totalGuests?.adults + totalGuests?.childs <
      this.groupForm.get('adults')?.value + this.groupForm.get('childs')?.value
    "
  >
    Next
    <ng-container
      *ngIf="
        totalGuests?.adults + totalGuests?.childs >=
        this.groupForm.get('adults')?.value +
          this.groupForm.get('childs')?.value
      "
    >
      (Total Cost {{ totalGuests?.totalCost }})
    </ng-container>
  </button>
  <div>{{ totalGuests | json }}</div>
  <div>{{ groupForm.value | json }}</div>
</div>

<ng-template #extraGuests let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Adults/Childs</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss(false)"
    ></button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Guests</th>
          <th scope="col">Rate</th>
          <th>Number of Extras</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Adults</th>
          <td>{{ extraGuestsData.adultRate }}</td>

          <td>
            <select
              class="form-control text_center select_reason"
              style="text-align: center"
              [(ngModel)]="extraGuestsData.extraAdults"
            >
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </td>
        </tr>

        <tr>
          <th scope="row">Childs</th>
          <td>{{ extraGuestsData.childRate }}</td>

          <td>
            <select
              class="form-control text_center select_reason"
              style="text-align: center"
              [(ngModel)]="extraGuestsData.extraChilds"
            >
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close(true)"
    >
      save
    </button>
  </div>
</ng-template>
