.input_container {
  position: relative;
  width: 20%;
}

.input_img,
.input_img1 {
  bottom: 2px;
  top: 6px;
  width: 22px;
  height: 22px;
  position: absolute;
  cursor: pointer;
}

.input {
  margin: 0;
}

.input_img {
  right: 5px;
}

.input_img1 {
  left: 5px;
}

.hide-spinner::-webkit-outer-spin-button,
.hide-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.clean,
.dirty {
  column-width: 40px;
}

.clean_active {
  background: #6ccfca;
  border-radius: 10px;
}

.dirty_active {
  background: #ffa4a3;
  border-radius: 10px;
}

.checkedout,
.inhouse,
.reservation {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-left: 2px !important;
  border-radius: 10px !important;
}

.reservation {
  background: #bee2f8 !important;
  color: #000;
}

.inhouse {
  background: #6ccfca !important;
  color: #000;
}

.checkedout {
  background: #1d366d !important;
  color: #fff;
}

.renovation {
  background: #ffccd1 !important;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-left: 2px !important;
  border-radius: 10px !important;
}

.overlap {
  position: relative;
}

.first-content {
  position: absolute;
  top: -9px;
  left: 40px;
  z-index: 1;
}

.second-content {
  position: absolute;
  top: -9px;
  left: 0px;
  z-index: 2;
}

.global_table td,
.global_table th {
  font-size: 14px;
}

@media only screen and (max-width: 590px) {
  .clean,
  .dirty {
    column-width: 15px;
  }
}
