<div class="parent">
  <div class="container">
    <div class="title">Registration</div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="user__details">
        <div class="input__box">
          <span class="details">Primary Property Name</span>
          <input
            type="text"
            placeholder="Primary Property Name"
            formControlName="primaryPropertyName"
          />
          <div
            *ngIf="
              userForm.get('primaryPropertyName')?.invalid &&
              (userForm.get('primaryPropertyName')?.dirty ||
                userForm.get('primaryPropertyName')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('primaryPropertyName')?.errors?.['required']"
              >Primary Property Name is required</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('primaryPropertyName')?.errors?.['minlength']"
              >Primary Property Name must be at least 3 characters long</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('primaryPropertyName')?.errors?.['noLeadingSpace']"
              >Primary Property Name cannot start with a space</small
            >
          </div>
        </div>
        <div class="input__box">
          <span class="details">First Name</span>
          <input
            type="text"
            placeholder="First Name"
            formControlName="firstName"
          />
          <div
            *ngIf="
              userForm.get('firstName')?.invalid &&
              (userForm.get('firstName')?.dirty ||
                userForm.get('firstName')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('firstName')?.errors?.['required']"
              >First Name is required</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('firstName')?.errors?.['minlength']"
              >First Name must be at least 2 characters long</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('firstName')?.errors?.['noLeadingSpace']"
              >First Name cannot start with a space</small
            >
          </div>
        </div>
        <div class="input__box">
          <span class="details">Last Name</span>
          <input
            type="text"
            placeholder="Last Name"
            formControlName="lastName"
          />
          <div
            *ngIf="
              userForm.get('lastName')?.invalid &&
              (userForm.get('lastName')?.dirty ||
                userForm.get('lastName')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('lastName')?.errors?.['required']"
              >Last Name is required</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('lastName')?.errors?.['minlength']"
              >Last Name must be at least 2 characters long</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('lastName')?.errors?.['noLeadingSpace']"
              >Last Name cannot start with a space</small
            >
          </div>
        </div>
        <div class="input__box">
          <span class="details">Email</span>
          <input
            type="email"
            placeholder="johnsmith@hotmail.com"
            formControlName="email"
          />
          <div
            *ngIf="
              userForm.get('email')?.invalid &&
              (userForm.get('email')?.dirty || userForm.get('email')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('email')?.errors?.['required']"
              >Email is required</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('email')?.errors?.['email']"
              >Invalid email format</small
            >
          </div>
        </div>
        <div class="input__box">
          <span class="details">Phone Number</span>
          <input
            type="tel"
            placeholder="012-345-6789"
            formControlName="phone"
            maxlength="10"
          />
          <div
            *ngIf="
              userForm.get('phone')?.invalid &&
              (userForm.get('phone')?.dirty || userForm.get('phone')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('phone')?.errors?.['required']"
              >Phone Number is required</small
            >
          </div>
        </div>
        <div class="input__box" formGroupName="address">
          <span class="details">Street</span>
          <input type="text" placeholder="Street" formControlName="street" />
        </div>
        <div class="input__box" formGroupName="address">
          <span class="details">City</span>
          <input type="text" placeholder="City" formControlName="city" />
          <div
            *ngIf="
              userForm.get('address.city')?.invalid &&
              (userForm.get('address.city')?.dirty ||
                userForm.get('address.city')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('address.city')?.errors?.['required']"
              >City is required</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('address.city')?.errors?.['noLeadingSpace']"
              >City cannot start with a space</small
            >
          </div>
        </div>
        <div class="input__box" formGroupName="address">
          <span class="details">State</span>
          <input type="text" placeholder="State" formControlName="state" />
          <div
            *ngIf="
              userForm.get('address.state')?.invalid &&
              (userForm.get('address.state')?.dirty ||
                userForm.get('address.state')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('address.state')?.errors?.['required']"
              >State is required</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('address.state')?.errors?.['pattern']"
              >State must contain only letters</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('address.state')?.errors?.['noLeadingSpace']"
              >State cannot start with a space</small
            >
          </div>
        </div>
        <div class="input__box" formGroupName="address">
          <span class="details">Zip</span>
          <input type="text" placeholder="Zip" formControlName="zip" />
          <div
            *ngIf="
              userForm.get('address.zip')?.invalid &&
              (userForm.get('address.zip')?.dirty ||
                userForm.get('address.zip')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('address.zip')?.errors?.['required']"
              >Zip is required</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('address.zip')?.errors?.['zipCode']"
              >Zip must be 6-8 digits long</small
            >
          </div>
        </div>
        <div class="input__box">
          <span class="details">Password</span>
          <input
            type="password"
            placeholder="********"
            formControlName="password"
          />
          <div
            *ngIf="
              userForm.get('password')?.invalid &&
              (userForm.get('password')?.dirty ||
                userForm.get('password')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('password')?.errors?.['required']"
              >Password is required</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('password')?.errors?.['minlength']"
              >Password must be at least 8 characters long</small
            >
            <small
              class="text-danger"
              *ngIf="userForm.get('password')?.errors?.['passwordStrength']"
              >Password must contain at least one uppercase letter, one
              lowercase letter, one number, and one special character</small
            >
          </div>
        </div>
        <div class="input__box">
          <span class="details">Confirm Password</span>
          <input
            type="password"
            placeholder="********"
            formControlName="confirmpassword"
          />
          <div
            *ngIf="
              userForm.get('confirmpassword')?.invalid &&
              (userForm.get('confirmpassword')?.dirty ||
                userForm.get('confirmpassword')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="userForm.get('confirmpassword')?.errors?.['required']"
              >Confirm Password is required</small
            >
            <small class="text-danger" *ngIf="userForm.errors?.['mismatch']"
              >Passwords must match</small
            >
          </div>
        </div>
      </div>
      <div class="button">
        <input type="submit" value="Register" [disabled]="userForm.invalid" />
      </div>
    </form>
  </div>
</div>
