<div class="row mb-4">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="card">
            <div class="card-header">
                Users
            </div>
            <div class="card-body">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Email</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userData; let i = index" (click)="selectUser(user, i)"
                            [ngClass]="{'selected': selectedUserIndex === i}" style="cursor: pointer;">
                            <td>{{ i+1 }}</td>
                            <td>{{ user.firstName }} {{ user.lastName }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.userType }}</td>
                            <td>{{ user.isLoginable ? 'Active' : 'Deactive' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
            <div class="card-header">
                User Details
            </div>
            <div class="card-body">
                <form [formGroup]="userForm">
                    <table class="table">
                        <tr>
                            <td>First Name</td>
                            <td>
                                <input type="text" class="form-control" formControlName="firstName" />
                            </td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>
                                <input type="text" class="form-control" formControlName="lastName" />
                            </td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>
                                <input type="text" class="form-control" formControlName="phone" />
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <input type="text" class="form-control" formControlName="email" />
                            </td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                <select class="form-control" id="active" formControlName="active">
                                    <option [value]="true">Active</option>
                                    <option [value]="false">Deactive</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="submit" class="btn btn-primary" (click)="updateUser()">Update User</button>
                </form>
            </div>
        </div>
    </div>
</div>