<!-- user-form.component.html -->
<!-- <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            userForm.controls['username'].invalid &&
            (userForm.controls['username'].dirty ||
              userForm.controls['username'].touched)
        }"
        placeholder="Username"
        formControlName="username"
        aria-describedby="usernameHelp"
      />
      <div
        *ngIf="
          userForm.controls['username'].invalid &&
          (userForm.controls['username'].dirty ||
            userForm.controls['username'].touched)
        "
        class="invalid-feedback"
      >
        <div *ngIf="userForm.controls['username'].errors?.required">
          Enter username
        </div>
        <div *ngIf="userForm.controls['username'].errors?.minlength">
          Username must be at least 3 characters
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            userForm.controls['password'].invalid &&
            (userForm.controls['password'].dirty ||
              userForm.controls['password'].touched)
        }"
        placeholder="Password"
        formControlName="password"
        aria-describedby="passwordHelp"
      />
      <div
        *ngIf="
          userForm.controls['password'].invalid &&
          (userForm.controls['password'].dirty ||
            userForm.controls['password'].touched)
        "
        class="invalid-feedback"
      >
        <div *ngIf="userForm.controls['password'].errors?.required">
          Enter password
        </div>
        <div *ngIf="userForm.controls['password'].errors?.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
  <button class="btn btn-primary" type="submit" (click)="rr()">
    Submit form
  </button>
</form> -->

<div class="container container_form mt-3 rounded">
  <form
    [formGroup]="propertyUnitForm"
    (ngSubmit)="onSubmit()"
    class="row row-cols-1 row-cols-md-2"
  >
    <!-- Property Unit Name -->
    <div class="col mt-3">
      <label class="form-label">Property Unit Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="propertyUnitName"
        placeholder="Enter Property Unit Name"
        [ngClass]="{
          'is-invalid':
            (propertyUnitForm.get('propertyUnitName')?.dirty ||
              propertyUnitForm.get('propertyUnitName')?.touched) &&
            propertyUnitForm.get('propertyUnitName')?.invalid
        }"
      />
      <small
        class="text-danger"
        *ngIf="
          (propertyUnitForm.get('propertyUnitName')?.dirty ||
            propertyUnitForm.get('propertyUnitName')?.touched) &&
          propertyUnitForm.get('propertyUnitName')?.invalid
        "
        >Property Unit Name is required</small
      >
    </div>

    <!-- Property Unit Legal Name -->
    <div class="col mt-3">
      <label class="form-label">Property Unit Legal Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="propertyUnitLegalName"
        placeholder="Enter Property Unit Legal Name"
        [ngClass]="{
          'is-invalid':
            (propertyUnitForm.get('propertyUnitLegalName')?.dirty ||
              propertyUnitForm.get('propertyUnitLegalName')?.touched) &&
            propertyUnitForm.get('propertyUnitLegalName')?.invalid
        }"
      />
      <small
        class="text-danger"
        *ngIf="
          (propertyUnitForm.get('propertyUnitLegalName')?.dirty ||
            propertyUnitForm.get('propertyUnitLegalName')?.touched) &&
          propertyUnitForm.get('propertyUnitLegalName')?.invalid
        "
        >Property Unit Legal Name is required</small
      >
    </div>

    <!-- Property Unit Type -->
    <div class="col mt-3">
      <label class="form-label">Property Unit Type</label>
      <input
        type="text"
        class="form-control"
        formControlName="propertyUnitType"
        placeholder="Enter Property Unit Type"
        [ngClass]="{
          'is-invalid':
            (propertyUnitForm.get('propertyUnitType')?.dirty ||
              propertyUnitForm.get('propertyUnitType')?.touched) &&
            propertyUnitForm.get('propertyUnitType')?.invalid
        }"
      />
      <small
        class="text-danger"
        *ngIf="
          (propertyUnitForm.get('propertyUnitType')?.dirty ||
            propertyUnitForm.get('propertyUnitType')?.touched) &&
          propertyUnitForm.get('propertyUnitType')?.invalid
        "
        >Property Unit Type is required</small
      >
    </div>

    <!-- Description -->
    <div class="col mt-3">
      <label class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        formControlName="description"
        placeholder="Enter Description"
        [ngClass]="{
          'is-invalid':
            (propertyUnitForm.get('description')?.dirty ||
              propertyUnitForm.get('description')?.touched) &&
            propertyUnitForm.get('description')?.invalid
        }"
      />
      <small
        class="text-danger"
        *ngIf="
          (propertyUnitForm.get('description')?.dirty ||
            propertyUnitForm.get('description')?.touched) &&
          propertyUnitForm.get('description')?.invalid
        "
        >Description is required</small
      >
    </div>

    <!-- Website -->
    <div class="col mt-3">
      <label class="form-label">Website</label>
      <input
        type="text"
        class="form-control"
        formControlName="website"
        placeholder="Enter Website"
        [ngClass]="{
          'is-invalid':
            (propertyUnitForm.get('website')?.dirty ||
              propertyUnitForm.get('website')?.touched) &&
            propertyUnitForm.get('website')?.invalid
        }"
      />
      <small
        class="text-danger"
        *ngIf="
          (propertyUnitForm.get('website')?.dirty ||
            propertyUnitForm.get('website')?.touched) &&
          propertyUnitForm.get('website')?.invalid
        "
        >Website is required</small
      >
    </div>

    <!-- Property Address -->
    <div class="col mt-3">
      <label class="form-label">Address Line 1</label>
      <input
        type="text"
        class="form-control"
        formControlName="propertyAddress.addressLine1"
        placeholder="Enter Address Line 1"
        [ngClass]="{
          'is-invalid':
            (propertyUnitForm.get('propertyAddress.addressLine1')?.dirty ||
              propertyUnitForm.get('propertyAddress.addressLine1')?.touched) &&
            propertyUnitForm.get('propertyAddress.addressLine1')?.invalid
        }"
      />
      <small
        class="text-danger"
        *ngIf="
          (propertyUnitForm.get('propertyAddress.addressLine1')?.dirty ||
            propertyUnitForm.get('propertyAddress.addressLine1')?.touched) &&
          propertyUnitForm.get('propertyAddress.addressLine1')?.invalid
        "
        >Address Line 1 is required</small
      >
    </div>

    <div class="col mt-3">
      <label class="form-label">Address Line 2</label>
      <input
        type="text"
        class="form-control"
        formControlName="propertyAddress.addressLine2"
        placeholder="Enter Address Line 2"
      />
    </div>

    <div class="col mt-3">
      <label class="form-label">City</label>
      <input
        type="text"
        class="form-control"
        formControlName="propertyAddress.city"
        placeholder="Enter City"
        [ngClass]="{
          'is-invalid':
            (propertyUnitForm.get('propertyAddress.city')?.dirty ||
              propertyUnitForm.get('propertyAddress.city')?.touched) &&
            propertyUnitForm.get('propertyAddress.city')?.invalid
        }"
      />
      <small
        class="text-danger"
        *ngIf="
          (propertyUnitForm.get('propertyAddress.city')?.dirty ||
            propertyUnitForm.get('propertyAddress.city')?.touched) &&
          propertyUnitForm.get('propertyAddress.city')?.invalid
        "
        >City is required</small
      >
    </div>

    <div class="col mt-3">
      <label class="form-label">State</label>
      <input
        type="text"
        class="form-control"
        formControlName="propertyAddress.state"
        placeholder="Enter State"
        [ngClass]="{
          'is-invalid':
            (propertyUnitForm.get('propertyAddress.state')?.dirty ||
              propertyUnitForm.get('propertyAddress.state')?.touched) &&
            propertyUnitForm.get('propertyAddress.state')?.invalid
        }"
      />
      <small
        class="text-danger"
        *ngIf="
          (propertyUnitForm.get('propertyAddress.state')?.dirty ||
            propertyUnitForm.get('propertyAddress.state')?.touched) &&
          propertyUnitForm.get('propertyAddress.state')?.invalid
        "
        >State is required</small
      >
    </div>

    <div class="col mt-3">
      <label class="form-label">Country</label>
      <input
        type="text"
        class="form-control"
        formControlName="propertyAddress.country"
        placeholder="Enter Country"
        [ngClass]="{
          'is-invalid':
            (propertyUnitForm.get('propertyAddress.country')?.dirty ||
              propertyUnitForm.get('propertyAddress.country')?.touched) &&
            propertyUnitForm.get('propertyAddress.country')?.invalid
        }"
      />
      <small
        class="text-danger"
        *ngIf="
          (propertyUnitForm.get('propertyAddress.country')?.dirty ||
            propertyUnitForm.get('propertyAddress.country')?.touched) &&
          propertyUnitForm.get('propertyAddress.country')?.invalid
        "
        >Country is required</small
      >
    </div>

    <div class="col mt-3">
      <label class="form-label">Zip Code</label>
      <input
        type="text"
        class="form-control"
        formControlName="propertyAddress.zipCode"
        placeholder="Enter Zip Code"
        [ngClass]="{
          'is-invalid':
            (propertyUnitForm.get('propertyAddress.zipCode')?.dirty ||
              propertyUnitForm.get('propertyAddress.zipCode')?.touched) &&
            propertyUnitForm.get('propertyAddress.zipCode')?.invalid
        }"
      />
      <small
        class="text-danger"
        *ngIf="
          (propertyUnitForm.get('propertyAddress.zipCode')?.dirty ||
            propertyUnitForm.get('propertyAddress.zipCode')?.touched) &&
          propertyUnitForm.get('propertyAddress.zipCode')?.invalid
        "
        >Zip Code is required</small
      >
    </div>

    <!-- Manager Details -->
    <div class="col mt-3">
      <label class="form-label">Manager First Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="managerDetails.firstName"
        placeholder="Enter Manager First Name"
        [ngClass]="{
          'is-invalid':
            (propertyUnitForm.get('managerDetails.firstName')?.dirty ||
              propertyUnitForm.get('managerDetails.firstName')?.touched) &&
            propertyUnitForm.get('managerDetails.firstName')?.invalid
        }"
      />
      <small
        class="text-danger"
        *ngIf="
          (propertyUnitForm.get('managerDetails.firstName')?.dirty ||
            propertyUnitForm.get('managerDetails.firstName')?.touched) &&
          propertyUnitForm.get('managerDetails.firstName')?.invalid
        "
        >First Name is required</small
      >
    </div>

    <div class="col mt-3">
      <label class="form-label">Manager Last Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="managerDetails.lastName"
        placeholder="Enter Manager Last Name"
        [ngClass]="{
          'is-invalid':
            (propertyUnitForm.get('managerDetails.lastName')?.dirty ||
              propertyUnitForm.get('managerDetails.lastName')?.touched) &&
            propertyUnitForm.get('managerDetails.lastName')?.invalid
        }"
      />
      <small
        class="text-danger"
        *ngIf="
          (propertyUnitForm.get('managerDetails.lastName')?.dirty ||
            propertyUnitForm.get('managerDetails.lastName')?.touched) &&
          propertyUnitForm.get('managerDetails.lastName')?.invalid
        "
        >Last Name is required</small
      >
    </div>

    <div class="col mt-3">
      <label class="form-label">Manager Phone</label>
      <input
        type="text"
        class="form-control"
        formControlName="managerDetails.phone"
        placeholder="Enter Manager Phone"
        [ngClass]="{
          'is-invalid':
            (propertyUnitForm.get('managerDetails.phone')?.dirty ||
              propertyUnitForm.get('managerDetails.phone')?.touched) &&
            propertyUnitForm.get('managerDetails.phone')?.invalid
        }"
      />
      <small
        class="text-danger"
        *ngIf="
          (propertyUnitForm.get('managerDetails.phone')?.dirty ||
            propertyUnitForm.get('managerDetails.phone')?.touched) &&
          propertyUnitForm.get('managerDetails.phone')?.invalid
        "
        >Phone is required</small
      >
    </div>

    <div class="col mt-3">
      <label class="form-label">Manager Email</label>
      <input
        type="text"
        class="form-control"
        formControlName="managerDetails.email"
        placeholder="Enter Manager Email"
        [ngClass]="{
          'is-invalid':
            (propertyUnitForm.get('managerDetails.email')?.dirty ||
              propertyUnitForm.get('managerDetails.email')?.touched) &&
            propertyUnitForm.get('managerDetails.email')?.invalid
        }"
      />
      <small
        class="text-danger"
        *ngIf="
          (propertyUnitForm.get('managerDetails.email')?.dirty ||
            propertyUnitForm.get('managerDetails.email')?.touched) &&
          propertyUnitForm.get('managerDetails.email')?.invalid
        "
        >Email is required</small
      >
    </div>

    <!-- Submit Button -->
    <div class="col-12 mt-3">
      <button class="btn btn-primary mb-3" type="submit">Submit form</button>
    </div>
  </form>
</div>
