.fb-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%; /* Cover the entire content height */
  width: 100%;
  background: #fff;
  overflow: hidden; /* Prevent scrolling */
}

.fb-item.login {
  top: 56px;
}
