<div class="container-fluid my-4">
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-light text-dark shadow">
                <div class="card-body">
                    <h5 class="card-title">Reservations</h5>
                    <p class="card-text">23</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-light text-dark shadow">
                <div class="card-body">
                    <h5 class="card-title">Guests</h5>
                    <p class="card-text">45</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-light text-dark shadow">
                <div class="card-body">
                    <h5 class="card-title">Available Rooms</h5>
                    <p class="card-text">5</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-light text-dark shadow">
                <div class="card-body">
                    <h5 class="card-title">Today's Revenue</h5>
                    <p class="card-text">3200 </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-light text-dark shadow">
                <div class="card-body">
                    <h5 class="card-title">Total Inhouse</h5>
                    <p class="card-text">120</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-light text-dark shadow">
                <div class="card-body">
                    <h5 class="card-title">Total Arrivals</h5>
                    <p class="card-text">30</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-light text-dark shadow">
                <div class="card-body">
                    <h5 class="card-title">Total Departure</h5>
                    <p class="card-text">25</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-light text-dark shadow">
                <div class="card-body">
                    <h5 class="card-title">Total Rooms</h5>
                    <p class="card-text">200</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mb-4">
            <div class="card shadow">
                <div class="card-header">
                    <h5 class="card-title">Future Availability</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Room Type</th>
                                @for (data of availabilityData; track data; let i =
                                $index) {
                                    <th scope="row">{{data.date}}</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (roomType of availabilityData[0]?.availabilityByRoomType; track roomType; let i =
                                $index) {
                                        <th scope="row">{{ roomType.roomTypeName}}</th>
                                    @for (data of availabilityData; track data; let j = $index) {
                                        <!-- <td>
                                            {{
                                                availabilityData.availabilityByRoomType
                                                ?.find(
                                                (rt) => rt.roomTypeName === roomType.roomTypeName
                                                )?.totalAvailableRoom
                                            }}
                                        </td> -->
                                    }
                                }
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    
        <div class="col-lg-4 mb-4">
            <div class="card shadow">
                <div class="card-header">
                    <h5 class="card-title">Today's Room Rates</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Room Type</th>
                                <th scope="col">Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Single Room</th>
                                <td>2000</td>
                            </tr>
                            <tr>
                                <th scope="row">Double Room</th>
                                <td>1500</td>
                            </tr>
                            <tr>
                                <th scope="row">Suite</th>
                                <td>2500</td>
                            </tr>
                            <tr>
                                <th scope="row">Deluxe Room</th>
                                <td>3000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>