.inline,
.inline1,
.inline2 {
  display: flex;
}

.global_table td:first-child,
.global_table th:first-child {
  position: sticky !important;
  left: 0 !important;
  min-width: 115px !important;
  width: 115px !important;
  max-width: 115px !important;
}

.global_table td:first-child,
.global_table td:nth-child(2),
.global_table td:nth-child(3) {
  background: #fff !important;
}

.global_table td:nth-child(2),
.global_table th:nth-child(2) {
  position: sticky !important;
  left: 114.5px !important;
  min-width: 80px !important;
  width: 80px !important;
  max-width: 80px !important;
}

.global_table td:nth-child(3),
.global_table th:nth-child(3) {
  position: sticky !important;
  left: 194.5px !important;
  min-width: 150px !important;
  width: 150px !important;
  max-width: 150px !important;
}

.clean,
.dirty {
  column-width: 40px;
}

.clean_active {
  background: #6ccfca;
  border-radius: 10px;
}

.dirty_active {
  background: #ffa4a3;
  border-radius: 10px;
}

.checkedout,
.inhouse,
.reservation {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-left: 20px !important;
  border-radius: 10px !important;
}

.reservation {
  background: #bee2f8 !important;
  color: #000;
}

.inhouse {
  background: #6ccfca !important;
  color: #000;
}

.checkedout {
  background: #1d366d !important;
  color: #fff;
}

.add_table td,
.black_font {
  font-size: 14px;
  font-weight: 500;
}

.input_container {
  position: relative;
  width: 20%;
}

.input_img,
.input_img1 {
  bottom: 2px;
  top: 6px;
  width: 22px;
  height: 22px;
  position: absolute;
  cursor: pointer;
}

.input {
  margin: 0;
}

.input_img {
  right: 5px;
}

.input_img1 {
  left: 5px;
}

.button {
  width: 150px;
}

.maintenance_table td,
.maintenance_table th {
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
  border-left: 2px dashed rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5;
}

.maintenance_table th {
  font-weight: 900;
  color: #1d366d;
}

.maintenance_table td {
  font-weight: 500;
  color: #000;
}

.maintenance_table td:first-child,
.maintenance_table th:first-child {
  border-left: 0.1px solid rgba(0, 0, 0, 0.1);
}

.maintenance_table td:last-child,
.maintenance_table th:last-child {
  border-right: 0.1px solid rgba(0, 0, 0, 0.1);
}

.range_table th {
  background: #082b4a;
  color: #fff;
  font-weight: 500;
}

.add_table tr:last-child td:nth-child(2),
.blue_container1 {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.custom_container {
  background-color: #fff;
}

.blue_container,
.blue_container1 {
  background: #387cf7;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
}

.gray_container {
  background: #f1f8ff;
  border-radius: 5px !important;
}

.notes {
  font-size: 14px !important;
  text-decoration: underline;
  font-weight: 700;
}

.notes_font {
  font-size: 13px !important;
  color: #000;
  font-weight: 500;
}

.add_table td:nth-child(2) {
  padding-right: 4px;
  padding-left: 8px;
}

.add_table td:first-child {
  width: 41.5%;
}

.add_table tr:first-child td:first-child,
.add_table tr:first-child td:last-child {
  padding-top: 8px;
}

.add_table tr:last-child td:first-child,
.add_table tr:last-child td:last-child {
  padding-bottom: 8px;
}

.add_table tr:first-child td:nth-child(2) {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.select1__arrow {
  top: 13px;
}

.renovation {
  background: #ffccd1 !important;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-left: 10px !important;
  border-radius: 10px !important;
}

.hide-spinner::-webkit-outer-spin-button,
.hide-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 1100px) {
  .inline {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 990px) {
  .inline2 {
    display: flex;
    flex-direction: column;
  }
  .black_font {
    font-size: 12px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 590px) {
  .inline1 {
    display: flex;
    flex-direction: column;
  }

  .input_container {
    width: 100%;
  }

  .global_table td:first-child,
  .global_table th:first-child {
    min-width: 60px !important;
    width: 60px !important;
    max-width: 60px !important;
    position: sticky !important;
    left: 0 !important;
  }

  .global_table td:nth-child(2),
  .global_table th:nth-child(2) {
    min-width: 60px !important;
    width: 60px !important;
    position: sticky !important;
    left: 59px !important;
  }

  .global_table td:nth-child(3),
  .global_table th:nth-child(3) {
    min-width: 120px !important;
    width: 120px !important;
    max-width: 120px !important;
    position: sticky !important;
    left: 119px !important;
  }

  .global_table td:first-child,
  .global_table td:nth-child(2) {
    background: #fff !important;
  }

  .clean,
  .dirty {
    column-width: 15px;
  }

  .reservation {
    font-size: 8px !important;
  }

  .black_font {
    font-size: 10px;
    font-weight: 500;
  }
}
